{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .big-logo-text {
        font-family: Allura;
        font-size: 150px;
        user-select: none;
    }

    .container {
        margin-top: 2em;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
</style>

<div class="container">
    <h1 class="big-logo-text">todo</h1>
    <p>Task tacking app.</p>
    <p><a href="/register">Sign-up</a> or <a href="/login">Login</a> to get going</p>
</div>

{% include "footer.html" %}