{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .container {
        margin-top: 2em;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .invalid-login-message {
        margin-top: 0.5em;
        color: #eb4823;
    }
</style>


<div class="container">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    {% if invalid %}
    <p class="invalid-login-message">Invalid username or password. Please try again</p>
    {% endif %}
</div>

{% include "footer.html" %}