<style>
    .container-fluid {
        padding: 1em;
        background: #fefefe;
    }

    .navbar-brand {
        text-transform: uppercase;
        font-weight: 600;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">todo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- tasks  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>
            </ul>

            <!-- links -->
            <ul class="navbar-nav d-flex justify-content-end">
                <!-- login  -->
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <!-- register  -->
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>

                <!-- logout  -->
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>



    </div>

</nav>