{% include "header.html" %}
{% include "navbar.html" %}

<style>
    .user-section {
        text-align: center;
        margin-top: 2em;
    }

    .task-section {
        min-width: 500px;
        max-width: 50vw;
        margin-top: 2em;

    }

    .task-row {
        border-bottom: 1px solid #ddd;
        margin: 0.75em;
    }

    .task-desc {
        padding-right: 2em;
    }

    .centered-content {
        text-align: center;
    }

    .new-task_button {
        background: none;
        border: none;
    }

    .error-message {
        color: #eb4d31;
        margin-top: 1em;
    }

    form {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        margin: 0.5em auto;
    }

    .task-link {
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }
</style>

<div class="container user-section">
    <h1>Welcome {{user.name}}</h1>
    <h2>Open Tasks</h2>
</div>

<div class="container task-section">
    {% for task in tasks %}
    <div class="row task-row">
        <div class="col-9">
            <p class="task-desc">{{task.text}}</p>
        </div>
        <div class="col-3 centered-content">
            <a class="task-link" href="/tasks/delete/{{task.id}}">
                <i class="far fa-check-square"></i>
            </a>
        </div>
    </div>
    {% endfor %}

    <!-- add new task  -->
    <div class="row task-row">
        <form action="/tasks" method="POST">
            <div class="col-9">
                <input class="form-control" type="text" name="text" id="text" placeholder="Add new task">
            </div>
            <div class="col-3 centered-content">
                <button class="new-task_button" type="submit">
                    <a href="">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </button>
            </div>
        </form>
    </div>
</div>

{% if invalid %}
<p class="error-message">Could not add new task</p>
{% endif %}


{% include "footer.html" %}